
*{
    background-color: rgb(233, 174, 189);
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    grid-gap: 10px;
}

.grid div{
    /* margin-left: 20px; */
    background-color: tomato;
    border: 1px solid black;
    padding: 20px 10px;
}

.icon{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2px;
}

.btn{
    color: rgb(255, 255, 255);
    background-color: green;
}